table {  width: 100%;}
td, th { border: 1px solid transparent; height: 30px;padding: 2px; }
th { background: #171717; font-weight: bold;color:#fff; }
td { background: #FAFAFA ;}
tr:nth-child(even) td { background: #F1F1F1; }  
tr:nth-child(odd) td { background: #FEFEFE; } 